@font-face {
    font-family: 'Sugar&Vinegar';
    src: url('SugarVinegar.woff2') format('woff2'),
        url('SugarVinegar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

